In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("Sales Transaction v.4a.csv")
df.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  object
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

In [4]:
# Remove rows with missing critical values
df = df.dropna(subset=["Date", "ProductNo", "ProductName", "Price", "Quantity", "CustomerNo"])

# Convert Date column to datetime
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

# Drop any rows where Date conversion failed
df = df.dropna(subset=["Date"])

# Ensure Price and Quantity are numeric
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df = df.dropna(subset=["Price", "Quantity"])

# Remove negative or zero values
df = df[(df["Price"] > 0) & (df["Quantity"] > 0)]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 527764 entries, 0 to 536324
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  527764 non-null  object
 1   Date           527764 non-null  datetime64[ns]
 2   ProductNo      527764 non-null  object
 3   ProductName    527764 non-null  object
 4   Price          527764 non-null  float64
 5   Quantity       527764 non-null  int64
 6   CustomerNo     527764 non-null  float64
 7   Country        527764 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.2+ MB

In [7]:
# Total Sales per transaction
df["TotalSales"] = df["Price"] * df["Quantity"]

# Useful time components
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Quarter"] = df["Date"].dt.to_period("Q")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 527764 entries, 0 to 536324
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  527764 non-null  object
 1   Date           527764 non-null  datetime64[ns]
 2   ProductNo      527764 non-null  object
 3   ProductName    527764 non-null  object
 4   Price          527764 non-null  float64
 5   Quantity       527764 non-null  int64
 6   CustomerNo     527764 non-null  float64
 7   Country        527764 non-null  object
 8   TotalSales     527764 non-null  float64
 9   Year           527764 non-null  int32
 10  Month          527764 non-null  int32
 11  Quarter        527764 non-null  period[Q-DEC]
dtypes: datetime64[ns](1), float64(3), int32(2), int64(1), object(4), period[Q-DEC](1)
memory usage: 48.3+ MB

In [13]:
df.to_csv("clean_sales.csv", index=False)

print("Data cleaning complete. Cleaned file saved as 'clean_sales.csv'")

Data cleaning complete. Cleaned file saved as 'clean_sales.csv'